body {
  font-family: 'Trirong', serif;
  background-color:#c5d5c5; 
}

header {
  background-color:#fefbd8;
  border-color: black;
  color: black;
  padding: 5px;
  text-align: center;
  font-size: 40px;
  font: bold;
  display: block;
  width: 100%;
}
p {
  text-align: left;
}

ul {
  text-align: left;
  font-size: 18px;
  margin-top: 2em;
  line-height: 2em;
}
footer {
  width: 100%;
  background-color: #fefbd8;
  border-color: black;
  color: black;
  padding: 20px;
  text-align: center;
  font: italic;
  position: fixed;
  bottom: 0;
}

